@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply Ubuntu font globally */
body {
          font-family: "Ubuntu", sans-serif;
}


/* Light Mode Background */
.light {
          background: linear-gradient(135deg, #141e30, #243b55, #3b536e);
          background-attachment: fixed;
          background-size: cover;
          color: black;
}

/* Dark Mode Background */
.dark {
          background: radial-gradient(circle at center, #101010, #191111, #181010, #121111);
          background-attachment: fixed;
          background-size: cover;
          color: #f7f7f7;
}